{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>
<body>
<div class="card" style="width: 37rem; margin-top:10rem; margin-left:27rem;">
    <div class="card-body">
        <h5 class="card-title">Change Password</h5>
            <div class="form-group">
                {% if validlink %}
                <p>Please enter your new password twice:</p>
                <form action="." method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <button type="submit" class="form-control btn button" value="" >Change my password</button>
                </form>
                {% else %}
                <p>The password reset link was invalid, possibly because it has
                    already been used. Please request a new password reset.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</body>
</html> {% endcomment %}


{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">


<head>
    <style>
        body {padding: 10px;margin: 10px}
        input[type=number] {
          /*for absolutely positioning spinners*/
          position: relative; 
          padding: 5px;
          padding-right: 25px;
          text-align: center;
        }
  
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
          opacity: 0;
        }
  
        input[type=number]::-webkit-outer-spin-button, 
        input[type=number]::-webkit-inner-spin-button {
          -webkit-appearance: inner-spin-button !important;
          width: 25px;
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
        }
        input[type=number]:hover::-webkit-inner-spin-button, 
        input[type=number]:hover::-webkit-outer-spin-button {
            opacity: 1;
        }
      </style>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0"/>
    <meta charset="utf-8">
    <title>Password reset</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static "assets/css/main.css" %}">
    
</head>

<body>

    

    <div class="card" style="width: 37rem; margin-top:10rem; margin-left:27rem;">
        <div class="card-body">
            <h5 class="card-title">Change Password</h5>
                <div class="form-group">
                    {% if validlink %}
                    <p>Please enter your new password twice:</p>
                    <form action="." method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <button type="submit" class="form-control btn button" value="" >Change my password</button>
                    </form>
                    {% else %}
                    <p>The password reset link was invalid, possibly because it has
                        already been used. Please request a new password reset.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


  <!-- Vendor JS-->
  <script src="{% static 'assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
  <script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'assets/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
  <script src="{% static 'assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/slick.js' %}"></script>
  <script src="{% static 'assets/js/plugins/jquery.syotimer.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/wow.js' %}"></script>
  <script src="{% static 'assets/js/plugins/jquery-ui.js' %}"></script>
  <script src="{% static 'assets/js/plugins/perfect-scrollbar.js' %}"></script>
  <script src="{% static 'assets/js/plugins/magnific-popup.js' %}"></script>
  <script src="{% static 'assets/js/plugins/select2.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/waypoints.js' %}"></script>
  <script src="{% static 'assets/js/plugins/counterup.js' %}"></script>
  <script src="{% static 'assets/js/plugins/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/images-loaded.js' %}"></script>
  <script src="{% static 'assets/js/plugins/isotope.js' %}"></script>
  <script src="{% static 'assets/js/plugins/scrollup.js' %}"></script>
  <script src="{% static 'assets/js/plugins/jquery.vticker-min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/jquery.theia.sticky.js' %}"></script>
  <script src="{% static 'assets/js/plugins/jquery.elevatezoom.js' %}"></script>
  <!-- Template  JS -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script src="{% static 'assets/js/shop.js' %}"></script>
  <script src="{% static 'assets/js/function.js' %}"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:06 GMT -->
</html>