{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">


<head>
    <style>
        body {padding: 10px;margin: 10px}
        input[type=number] {
          /*for absolutely positioning spinners*/
          position: relative; 
          padding: 5px;
          padding-right: 25px;
          text-align: center;
        }
  
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
          opacity: 0;
        }
  
        input[type=number]::-webkit-outer-spin-button, 
        input[type=number]::-webkit-inner-spin-button {
          -webkit-appearance: inner-spin-button !important;
          width: 25px;
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
        }
        input[type=number]:hover::-webkit-inner-spin-button, 
        input[type=number]:hover::-webkit-outer-spin-button {
            opacity: 1;
        }
      </style>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0"/>
    <meta charset="utf-8">
    <title>Cyklista</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static "assets/css/main.css" %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

</head>

<body>
    <!-- Quick view -->
    <div class="modal fade custom-modal" id="quickViewModal" tabindex="-1" aria-labelledby="quickViewModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">              
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>       
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-gallery">
                                <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                <!-- MAIN SLIDES -->
                                <div class="product-image-slider">
                                    
                                    <figure class="border-radius-10">
                                        <img src="{% static 'assets/imgs/shop/product-16-2.jpg' %}" alt="product image">
                                    </figure>
                                    
                                </div>
                                <!-- THUMBNAILS -->
                                <div class="slider-nav-thumbnails pl-15 pr-15">
                                    <div><img src="{% static 'assets/imgs/shop/thumbnail-3.jpg' %}" alt="product image"></div>
                                    <div><img src="{% static 'assets/imgs/shop/thumbnail-4.jpg' %}" alt="product image"></div>
                                    <div><img src="{% static 'assets/imgs/shop/thumbnail-5.jpg' %}" alt="product image"></div>
                                    <div><img src="{% static 'assets/imgs/shop/thumbnail-6.jpg' %}" alt="product image"></div>
                                    <div><img src="{% static 'assets/imgs/shop/thumbnail-7.jpg' %}" alt="product image"></div>
                                    <div><img src="{% static 'assets/imgs/shop/thumbnail-8.jpg' %}" alt="product image"></div>
                                    <div><img src="{% static 'assets/imgs/shop/thumbnail-9.jpg' %}" alt="product image"></div>
                                </div>
                            </div>
                            <!-- End Gallery -->
                            <div class="social-icons single-share">
                                <ul class="text-grey-5 d-inline-block">
                                    <li><strong class="mr-10">Share this:</strong></li>
                                    <li class="social-facebook"><a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-facebook.svg' %}" alt=""></a></li>
                                    <li class="social-twitter"> <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-twitter.svg' %}" alt=""></a></li>
                                    <li class="social-instagram"><a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-instagram.svg' %}" alt=""></a></li>
                                    <li class="social-linkedin"><a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-pinterest.svg' %}" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-info">
                                <h3 class="title-detail mt-30">Colorful Pattern Shirts HD450</h3>
                                <div class="product-detail-rating">
                                    <div class="pro-details-brand">
                                        <span> Brands: <a href="shop-grid-right.html">Bootstrap</a></span>
                                    </div>
                                    <div class="product-rate-cover text-end">
                                        <div class="product-rate d-inline-block">
                                            <div class="product-rating" style="width:90%">
                                            </div>
                                        </div>
                                        <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                    </div>
                                </div>
                                <div class="clearfix product-price-cover">
                                    <div class="product-price primary-color float-left">
                                        <ins><span class="text-brand">$120.00</span></ins>
                                        <ins><span class="old-price font-md ml-15">$200.00</span></ins>
                                        <span class="save-price  font-md color3 ml-15">25% Off</span>
                                    </div>
                                </div>
                                <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                <div class="short-desc mb-30">
                                    <p class="font-sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam rem officia, corrupti reiciendis minima nisi modi,!</p>
                                </div>
                                
                                <div class="attr-detail attr-color mb-15">
                                    <strong class="mr-10">Color</strong>
                                    <ul class="list-filter color-filter">
                                        <li><a href="#" data-color="Red"><span class="product-color-red"></span></a></li>
                                        <li><a href="#" data-color="Yellow"><span class="product-color-yellow"></span></a></li>
                                        <li class="active"><a href="#" data-color="White"><span class="product-color-white"></span></a></li>
                                        <li><a href="#" data-color="Orange"><span class="product-color-orange"></span></a></li>
                                        <li><a href="#" data-color="Cyan"><span class="product-color-cyan"></span></a></li>
                                        <li><a href="#" data-color="Green"><span class="product-color-green"></span></a></li>
                                        <li><a href="#" data-color="Purple"><span class="product-color-purple"></span></a></li>
                                    </ul>
                                </div>
                                <div class="attr-detail attr-size">
                                    <strong class="mr-10">Size</strong>
                                    <ul class="list-filter size-filter font-small">
                                        <li><a href="#">S</a></li>
                                        <li class="active"><a href="#">M</a></li>
                                        <li><a href="#">L</a></li>
                                        <li><a href="#">XL</a></li>
                                        <li><a href="#">XXL</a></li>
                                    </ul>
                                </div>
                                <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                <div class="detail-extralink">
                                    <div class="detail-qty border radius">
                                        <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                        <span class="qty-val">1</span>
                                        <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                    </div>
                                    <div class="product-extra-link2">
                                        <button type="submit" class="button button-add-to-cart">Add to cart</button>
                                        <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                        <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                    </div>
                                </div>
                                <ul class="product-meta font-xs color-grey mt-50">
                                    <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>
                                    <li class="mb-5">Tags: <a href="#" rel="tag">Cloth</a>, <a href="#" rel="tag">Women</a>, <a href="#" rel="tag">Dress</a> </li>
                                    <li>Availability:<span class="in-stock text-success ml-5">8 Items In Stock</span></li>
                                </ul>
                            </div>
                            <!-- Detail Info -->
                        </div>
                    </div>
                </div>        
            </div>
        </div>
    </div>
    
    <header class="header-area header-style-2 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <li><i class="fi-rs-smartphone"></i> <a href="#">(+01) - 2345 - 6789</a></li>
                                <li><i class="fi-rs-marker"></i><a  href="page-contact.html">Our location</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        <div class="text-center">
                            <div id="news-flash" class="d-inline-block">
                                <ul>
                                    <li>Get great devices up to 50% off <a href="shop-grid-right.html">View details</a></li>
                                    <li>Supper Value Deals - Save more with coupons</li>
                                    <li>Trendy 25silver jewelry, save up 35% off today <a href="shop-grid-right.html">Shop now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                            <ul>
                                
                                {% if request.user.is_authenticated %}
                                <li> <i class="fi-rs-user"></i><a href="{% url 'userauths:sign-out' %}">Log Out</a></li>
                                {% else %}
                                <li><i class="fi-rs-user"></i><a href="{% url 'userauths:sign-in' %}">Log in</a></li>

                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="#"><img src="{% static 'assets/logo/cyklista_logo-removebg-preview.png' %}" alt="logo" style="width: 200px; height: auto;"></a>
                    </div>
                    <div class="header-right">
                        <div class="search-style-3">
                            <form action="{% url 'product:search'%}" method ="GET">
                                <input type="text" placeholder="Search" name= "q">
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </div>
                        <div class="header-nav d-none d-lg-flex">
                        
                            <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                                <nav>
                                    <ul>
                                        <li><a class="active" href="{% url "product:index" %}">Home </a>
                                        </li>
                                       
                                        <li><a href="#">Shop <i class="fi-rs-angle-down"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="{% url "product:product-list" %}">Shop by product</a></li>
                                                <li><a href="{% url "product:category-list" %}">Shop by category</a></li>
                                                <li><a href="{% url "product:brand-list" %}">Shop by Brand</a></li>
                                                
                                                <li><a href="shop-cart.html">Shop – Cart</a></li>
                                                <li><a href="shop-checkout.html">Shop – Checkout</a></li>
                                            </ul>
                                        </li>
                                       
                                        
                                        <li>
                                            <a href="#">About</a>
                                        </li>
                                        <li>
                                            <a href="#">Contact</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'wallet:wallet_view' %}">Wallet</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="{% url 'product:wishlist'%}">
                                        <img class="svgInject" alt="Evara" src="{% static 'assets/imgs/theme/icons/icon-heart.svg' %}">
                                        {% comment %} <span class="pro-count blue ">4</span> {% endcomment %}
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="{% url 'cart:view_cart' %}">
                                        <img alt="Evara" src="{% static 'assets/imgs/theme/icons/icon-cart.svg' %}">
                                        {% comment %} <span class="pro-count blue ">{{ cart.product | length }}</span> {% endcomment %}
                                    </a>
                                    {% comment %} <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                        <ul>
                                        
                                           
                                        </ul>
                                        <div class="shopping-cart-footer">
                                            
                                            <div class="shopping-cart-button">
                                                <a href="{% url 'cart:view_cart' %}" >View cart</a>
                                                <a href="{% url 'order:place_order' %}">Checkout</a>
                                            </div>
                                        </div>
                                    </div> {% endcomment %}
                                </div>
                                {% if request.user.is_authenticated %}
                                <div class="header-action-icon-2">
                                    <a href="{% url "account:my_dashboard" %}">
                                        <i class="fi-rs-user" style="font-size: 26px;"></i>
                                        {% comment %} <span class="pro-count blue ">4</span> {% endcomment %}
                                    </a>
                                </div>
                                {% endif %}
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="index.html"><img src="{% static 'assets/logo/cyklista_logo-removebg-preview.png' %}" style="width: 200px; height: auto;" alt="logo"></a>
                    </div>
                    
                    
                    <p class="mobile-promotion">Happy <span class="text-brand">Mother's Day</span>. Big Sale Up to 40%</p>
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="shop-wishlist.html">
                                    <img alt="Evara" src="{% static 'assets/imgs/theme/icons/icon-heart.svg' %}">
                                    {% comment %} <span class="pro-count white">4</span> {% endcomment %}
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="{% url 'cart:view_cart' %}">
                                    <img alt="Evara" src="{% static 'assets/imgs/theme/icons/icon-cart.svg' %}">
                                    {% comment %} <span class="pro-count blue ">{{ cart.product | length }}</span> {% endcomment %}
                                </a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                    <ul>
                                    
                                       
                                    </ul>
                                    <div class="shopping-cart-footer">
                                        
                                        <div class="shopping-cart-button">
                                            <a href="{% url 'cart:view_cart' %}" >View cart</a>
                                            <a href="shop-checkout.html">Checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            <strong>{{message}}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <script>
                    setTimeout (() => {
                        $(".alert").alert("close")
                    },5000)
                </script>
            </div>
        </div>
    </header>


  
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  
    <!--End Header-->

    {%block content%}{% endblock content%}
    {% block payment-gateway %}{% endblock payment-gateway %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.5/sweetalert2.all.min.js"></script>


    <footer class="main">
      <section class="newsletter p-30 text-white wow fadeIn animated">
          <div class="container">
              <div class="row align-items-center">
                  <div class="col-lg-7 mb-md-3 mb-lg-0">
                      
                  </div>
                 
              </div>
          </div>
      </section>
      <section class="section-padding footer-mid">
          <div class="container pt-15 pb-20">
              <div class="row">
                  <div class="col-lg-4 col-md-6">
                      <div class="widget-about font-md mb-md-5 mb-lg-0">
                          <div class="logo logo-width-1 wow fadeIn animated">
                              <a href="index.html"><img src="{% static 'assets/logo/cyklista_logo-removebg-preview.png' %}" alt="logo" style="width: 200px; height: auto;"></a>
                          </div>
                          <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                          <p class="wow fadeIn animated">
                              <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                          </p>
                          <p class="wow fadeIn animated">
                              <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                          </p>
                          <p class="wow fadeIn animated">
                              <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                          </p>
                          <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                          <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                              <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-facebook.svg' %}" alt=""></a>
                              <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-twitter.svg' %}" alt=""></a>
                              <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-instagram.svg' %}" alt=""></a>
                              <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-pinterest.svg' %}" alt=""></a>
                              <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-youtube.svg' %}" alt=""></a>
                          </div>
                      </div>
                  </div>
                  
                  
                  <div class="col-lg-4">
                      <h5 class="widget-title wow fadeIn animated">Install App</h5>
                      <div class="row">
                          
                          <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                              <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                              <img class="wow fadeIn animated" src="{% static 'assets/imgs/theme/payment-method.png' %}" alt="">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <div class="container pb-20 wow fadeIn animated">
          <div class="row">
              <div class="col-12 mb-20">
                  <div class="footer-bottom"></div>
              </div>
              <div class="col-lg-6">
                  <p class="float-md-left font-sm text-muted mb-0">&copy; 2021, <strong class="text-brand">Cyclista</strong> - Ecommerce </p>
              </div>
              <div class="col-lg-6">
                  <p class="text-lg-end text-start font-sm text-muted mb-0">
                      Designed by <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>. All rights reserved
                  </p>
              </div>
          </div>
      </div>
  </footer>

  <!-- Vendor JS-->
  <script src="{% static 'assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
  <script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'assets/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
  <script src="{% static 'assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/slick.js' %}"></script>
  <script src="{% static 'assets/js/plugins/jquery.syotimer.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/wow.js' %}"></script>
  <script src="{% static 'assets/js/plugins/jquery-ui.js' %}"></script>
  <script src="{% static 'assets/js/plugins/perfect-scrollbar.js' %}"></script>
  <script src="{% static 'assets/js/plugins/magnific-popup.js' %}"></script>
  <script src="{% static 'assets/js/plugins/select2.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/waypoints.js' %}"></script>
  <script src="{% static 'assets/js/plugins/counterup.js' %}"></script>
  <script src="{% static 'assets/js/plugins/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/images-loaded.js' %}"></script>
  <script src="{% static 'assets/js/plugins/isotope.js' %}"></script>
  <script src="{% static 'assets/js/plugins/scrollup.js' %}"></script>
  <script src="{% static 'assets/js/plugins/jquery.vticker-min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/jquery.theia.sticky.js' %}"></script>
  <script src="{% static 'assets/js/plugins/jquery.elevatezoom.js' %}"></script>
  <!-- Template  JS -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script src="{% static 'assets/js/shop.js' %}"></script>
  <script src="{% static 'assets/js/function.js' %}"></script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:06 GMT -->
</html>