{% extends "partials/base.html" %}
{% load static %}

{% block content%}
<head>
    <style>
        .product-img {
            display: block;
            width: 280px; /* Set the desired width */
            height: 250px; /* Set the desired height */
            object-fit: cover; /* Crop the image to fit the specified dimensions */
        
        }
    
        .product-imgg {
            width: 200px;
            height: 200px;
            position: relative;
            overflow: hidden;
        }
        
        .product-img img {
            width: 100%;
            {% comment %} height: 100%; {% endcomment %}
            object-fit: cover;
        }
        
    </style>
</head>
<main class="main">
    <section class="home-slider position-relative">
        <div class="hero-slider-1 style-2 dot-style-1 dot-style-1-position-1">
            <div class="single-hero-slider single-animation-wrap">
                <div class="container">
                    <div class="slider-1-height-2 slider-animated-1">
                        <img class="animated" src="{% static 'assets/imgs/cyklista/HOME-BANNER-DAWNRAID2.jpg' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="single-hero-slider single-animation-wrap">
                <div class="container">
                    <div class="slider-1-height-2 slider-animated-1">
                        <img class="animated" src="{% static 'assets/imgs/cyklista/index_banner01.jpg' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="single-hero-slider single-animation-wrap">
                <div class="container">
                    <div class="slider-1-height-2 slider-animated-1">
                            
                            <img class="animated" src="{% static 'assets\imgs\cyklista\Cannondale-Bikes-Header-Image.jpg' %}" alt="">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-arrow hero-slider-1-arrow"></div>
    </section>
   
    <section class="product-tabs pt-25 pb-20 wow fadeIn animated">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="widget-category mb-30">
                        <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                        <ul class="categories">
                            {% for i in category %}
                            <li><a href="{% url "product:category-product-list" i.id %}">{{i.category_name}}</a></li>
                            {% endfor %}
                           
                        </ul>
                    </div>
                    
                    <div class="banner-img wow fadeIn mb-45mb-lg-0 animated d-lg-block d-none">
                        <img src="{% static 'assets\imgs\cyklista\4.jpeg' %}" alt="">
                       
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="tab-header">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab" data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one" aria-selected="true">Featured</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="nav-tab-two" data-bs-toggle="tab" data-bs-target="#tab-two" type="button" role="tab" aria-controls="tab-two" aria-selected="false">Popular</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="nav-tab-three" data-bs-toggle="tab" data-bs-target="#tab-three" type="button" role="tab" aria-controls="tab-three" aria-selected="false">New added</button>
                            </li>
                        </ul>
                        <a href="{% url "product:product-list" %}" class="view-more d-none d-md-flex">View More<i class="fi-rs-angle-double-small-right"></i></a>
                    </div>
                    <!--End nav-tabs-->
                    <div class="tab-content wow fadeIn animated" id="myTabContent">
                        <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                            <div class="row product-grid-4">

                                {% for p in products  %}
                                {% if p.product.soft_delete == False %}
                                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                    <div class="product-cart-wrap mb-30">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <a href="{% url "product:product-detail" p.id p.product.product_catg.id %}">
                                                    
                                                    <img size="100px" class="default-img product-img" src="{{p.variantimage_set.first.images.url}}" width="200px" alt="">
                                                    <img class="hover-img product-img" src="{{p.variantimage_set.first.images.url}}" width="200px" alt="">
                                                </a>
                                            </div>
                                            <div class="product-action-1">
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up" href="{% url 'product:add_wishlist' p.id p.product.product_catg.id%}"><i class="fi-rs-heart"></i></a>
                                            </div>
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                            {% if  p.sale_price != p.max_price%}
                                                <span class="hot">-{{p.get_percentage|floatformat:0}}%</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="product-category">  
                                                <a href="#">{{p.color}}</a>
                                            </div>
                                            <h2><a href="{% url "product:product-detail" p.id p.product.product_catg.id %}">{{p.product}}</a></h2>
                                            
                                            <div class="product-category">  
                                                <a href="#">{{p.product.product_catg}}</a>
                                            </div>
                                            <div class="product-price">
                                               <span> Rs.<span id="current-product-price" class="current-product-price-{{p.id}}">{{ p.sale_price }}</span></span>
                                               {% if  p.sale_price != p.max_price%}
                                                <span class="old-price">Rs.{{p.max_price}}</span>
                                                {% endif %}
                                            </div>
                                            <div class="add-cart">
                                                <div class="product-action-1 show"> 
                                                    <input type="hidden" value="1" id="product-quantity" class="product-quantity-{{p.id}}">
                                                    <input type="hidden" value="{{p.model_id}}" class="product-pid-{{p.id}}">
                                                    <input type="hidden" value="{{ p.variantimage_set.first.images.url }}" class="product-image-{{p.id}}">
                                                    <input type="hidden" value="{{p.id}}" class="product-id-{{p.id}}">
                                                    <input type="hidden" value="{{p.product}}" class="product-title-{{p.id}}">
                                     
                                                    <span class="action-btn">
                                                        <a href="{% url 'cart:add_cart' id=p.id %}"> <button aria-label="Add To Cart" data-index="{{ p.id }}" id="add-to-cart-btn" class="add add-to-cart-btn hover-up">
                                                            
                                                                <i class="fi-rs-shopping-bag-add"></i>
                                                            </button>
                                                        </a>
                                                    </span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}

                            </div>
                            <!--End product-grid-4-->
                        </div>
                        <!--En tab one (Featured)-->
                        <div class="tab-pane fade" id="tab-two" role="tabpanel" aria-labelledby="tab-two">
                            <div class="row product-grid-4">
                                {% for po in pop %}
                                {% if po.product.soft_delete == False %}
                                    <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                        <div class="product-cart-wrap mb-30">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="{% url "product:product-detail" po.id po.product.product_catg.id %}">
                                                        <img class="default-img product-img" src="{{ po.variantimage_set.first.images.url }}" alt="">
                                                        <img class="hover-img product-img" src="{{ po.variantimage_set.first.images.url }}" alt="">
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                    <a aria-label="Add To Wishlist" class="action-btn hover-up" href="{% url 'product:add_wishlist' po.id po.product.product_catg.id%}"><i class="fi-rs-heart"></i></a>
                                                </div>
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    {% if  po.sale_price != po.max_price%}
                                                    <span class="hot">-{{po.get_percentage|floatformat:0}}%</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a href="shop-grid-right.html">{{po.color}}</a>
                                                </div>
                                                <h2><a href="{% url "product:product-detail" po.id po.product.product_catg.id %}">{{po.product}}</a></h2>
                                          
                                                <div class="product-category">  
                                                    <a href="#">{{po.product.product_catg}}</a>
                                                </div>
                                                <div class="product-price">
                                                    <span>Rs.<span>{{ po.sale_price }}</span></span>
                                                    {% if  po.sale_price != po.max_price%}
                                                    <span class="old-price">Rs.{{po.max_price}}</span>
                                                    {% endif %}
                                                </div>
                                                <div class="add-cart">
                                                    <div class="product-action-1 show"> 
                                                        <input type="hidden" value="1" id="product-quantity" class="product-quantity-{{po.id}}">
                                                        <input type="hidden" value="{{n.model_id}}" class="product-pid-{{po.id}}">
                                                        <input type="hidden" value="{{ po.variantimage_set.first.images.url }}" class="product-image-{{po.id}}">
                                                        <input type="hidden" value="{{n.id}}" class="product-id-{{po.id}}">
                                                        <input type="hidden" value="{{po.product}}" class="product-title-{{po.id}}">
                                                        
                                                        <span class="action-btn">
                                                            <a href="{% url 'cart:add_cart' id=po.id %}"> <button aria-label="Add To Cart" data-index="{{ po.id }}" id="add-to-cart-btn" class="add add-to-cart-btn hover-up">
                                                                
                                                                    <i class="fi-rs-shopping-bag-add"></i>
                                                                </button>
                                                            </a>
                                                        </span>
    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}


                            </div>
                            <!--End product-grid-4-->
                        </div>
                        <!--En tab two (Popular)-->
                        <!--start tab 3 (featured)-->
                        <div class="tab-pane fade" id="tab-three" role="tabpanel" aria-labelledby="tab-three">
                            <div class="row product-grid-4">

                                {% for n in new %}
                                {% if n.product.soft_delete == False %}
                                    <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                        <div class="product-cart-wrap mb-30">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="{% url "product:product-detail" n.id n.product.product_catg.id %}">
                                                        <img class="default-img product-img" src="{{ n.variantimage_set.first.images.url }}" alt="">
                                                        <img class="hover-img product-img" src="{{ n.variantimage_set.first.images.url }}" alt="">
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                    <a aria-label="Add To Wishlist" class="action-btn hover-up" href="{% url 'product:add_wishlist' n.id n.product.product_catg.id%}"><i class="fi-rs-heart"></i></a>
                                                </div>
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    {% if  n.sale_price != n.max_price%}
                                                    <span class="hot">-{{n.get_percentage|floatformat:0}}%</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a href="shop-grid-right.html">{{n.color}}</a>
                                                </div>
                                                <h2><a href="{% url "product:product-detail" n.id n.product.product_catg.id %}">{{n.product}}</a></h2>
                                                <div class="product-category">  
                                                    <a href="#">{{n.product.product_catg}}</a>
                                                </div>
                                                <div class="product-price">
                                                    <span>Rs.<span>{{ n.sale_price }}</span></span>
                                                    {% if  n.sale_price != n.max_price%}
                                                    <span class="old-price">Rs.{{n.max_price}}</span>
                                                    {% endif %}
                                                </div>
                                                <div class="add-cart">
                                                    <div class="product-action-1 show"> 
                                                        <input type="hidden" value="1" id="product-quantity" class="product-quantity-{{n.id}}">
                                                        <input type="hidden" value="{{n.model_id}}" class="product-pid-{{n.id}}">
                                                        <input type="hidden" value="{{ n.variantimage_set.first.images.url }}" class="product-image-{{n.id}}">
                                                        <input type="hidden" value="{{n.id}}" class="product-id-{{n.id}}">
                                                        <input type="hidden" value="{{n.product}}" class="product-title-{{n.id}}">
                                                        <span class="action-btn">
                                                            <a href="{% url 'cart:add_cart' id=n.id %}"> <button aria-label="Add To Cart" data-index="{{ n.id }}" id="add-to-cart-btn" class="add add-to-cart-btn hover-up">
                                                                
                                                                    <i class="fi-rs-shopping-bag-add"></i>
                                                                </button>
                                                            </a>
                                                        </span>
    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}

                            </div>
                            <!--End product-grid-4-->
                        </div>
                        <!--En tab three (New added)-->
                    </div>
                    <!--End tab-content-->
                </div>
            </div>
        </div>
    </section>
    
  
    <section class="section-padding">
        <div class="container wow fadeIn animated">
            <h3 class="section-title mb-20"><span>New</span> Arrivals</h3>
            <div class="carausel-6-columns-cover position-relative">
                <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-2-arrows"></div>
                <div class="carausel-6-columns carausel-arrow-center" id="carausel-6-columns-2">
                    {% for n in new %}
                    <div class="product-cart-wrap small hover-up">
                        <div class="product-img-action-wrap">
                            <div class="product-imgg product-img-zoom">
                                <a href="{% url "product:product-detail" n.id n.product.product_catg.id %}">
                                    <img class="default-img fixed-size-img" src="{{ n.variantimage_set.first.images.url }}" alt="">
                                    <img class="hover-img fixed-size-img" src="{{ n.variantimage_set.first.images.url }}" alt="">
                                </a>
                            </div>
                            <div class="product-action-1">
                                <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="{% url 'product:add_wishlist' n.id n.product.product_catg.id%}" tabindex="0"><i class="fi-rs-heart"></i></a>
                            </div>
                            <div class="product-badges product-badges-position product-badges-mrg">
                                {% if  n.sale_price != n.max_price%}
                                <span class="hot">-{{n.get_percentage|floatformat:0}}%</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="product-content-wrap">
                            <h2><a href="">{{n.product|truncatechars:19}}</a></h2>
                           
                            <div class="product-price">
                                <span>Rs.<span>{{ n.sale_price }}</span></span>
                                {% if  n.sale_price != n.max_price%}
                                <span class="old-price">Rs.{{n.max_price}}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!--End product-cart-wrap-2-->
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding">
        <div class="container pb-20">
            <h3 class="section-title mb-20 wow fadeIn animated"><span>Featured</span> Brands</h3>
            <div class="carausel-6-columns-cover position-relative wow fadeIn animated">
                <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-3-arrows"></div>
                <div class="carausel-6-columns text-center" id="carausel-6-columns-3">
                    {% for b in brands %}
                        <div class="brand-logo">
                            <a href="{% url 'product:brand-product-list' b.id %}">
                                <img class="img-grey-hover" src="{{ b.brand_img.url }}" alt="{{ b.brand_name }}">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section class="bg-grey-9 section-padding">
        <div class="container pt-15 pb-25">
            <div class="heading-tab d-flex">
                <div class="heading-tab-left wow fadeIn animated">
                    <h3 class="section-title mb-20"><span>Monthly</span> Best Sell</h3>
                </div>
                
            </div>
            <div class="row">
             \  
                <div class="col-lg-12 col-md-12">
                    <div class="tab-content wow fadeIn animated" id="myTabContent-1">
                        <div class="tab-pane fade show active" id="tab-one-1" role="tabpanel" aria-labelledby="tab-one-1">
                            <div class="carausel-4-columns-cover arrow-center position-relative">
                                <div class="slider-arrow slider-arrow-2 carausel-4-columns-arrow" id="carausel-4-columns-arrows"></div>
                                <div class="carausel-4-columns carausel-arrow-center" id="carausel-4-columns">
                                    {% for b in best %}
                                        <div class="product-cart-wrap">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="shop-product-right.html">
                                                        <img class="default-img" src="{{ b.order_product__variantimage__images   }}" alt="{{ b.order_product__product__product_name }}">
                                                        <img class="hover-img" src="{{ b.order_product__variant_images__images }}" alt="{{ b.order_product__product__product_name }}">
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                    <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                                </div>
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="hot">Hot</span>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    {{ b.order_product__product__category__category_name }}
                                                </div>
                                                <h2><a href="shop-product-right.html">{{ b.order_product__product__product_name }}</a></h2>
                                                <div class="product-price">
                                                    <span>${{ b.order_product__sale_price }} </span>
                                                    <span class="old-price">${{ b.order_product__max_price }}</span>
                                                </div>
                                                <div class="product-action-1 show">
                                                    <a aria-label="Add To Cart" class="action-btn hover-up" href="shop-cart.html"><i class="fi-rs-shopping-bag-add"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                    


                                </div>
                            </div>
                        </div>
                        <!--End tab-pane-->
                        
                    <!--End tab-content-->
                </div>
                <!--End Col-lg-9-->
            </div>
        </div>
    </section>
 


    <section class="featured section-padding">
        <div class="container pb-25">
            <div class="row">
                <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                    <div class="banner-features wow fadeIn animated hover-up">
                        <img src="{% static 'assets/imgs/theme/icons/feature-1.png' %}" alt="">
                        <h4 class="bg-1">Free Shipping</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                    <div class="banner-features wow fadeIn animated hover-up">
                        <img src="{% static 'assets/imgs/theme/icons/feature-2.png' %}" alt="">
                        <h4 class="bg-3">Online Order</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                    <div class="banner-features wow fadeIn animated hover-up">
                        <img src="{% static 'assets/imgs/theme/icons/feature-3.png' %}" alt="">
                        <h4 class="bg-2">Save Money</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                    <div class="banner-features wow fadeIn animated hover-up">
                        <img src="{% static 'assets/imgs/theme/icons/feature-4.png' %}" alt="">
                        <h4 class="bg-4">Promotions</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                    <div class="banner-features wow fadeIn animated hover-up">
                        <img src="{% static 'assets/imgs/theme/icons/feature-5.png' %}" alt="">
                        <h4 class="bg-5">Happy Sell</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                    <div class="banner-features wow fadeIn animated hover-up">
                        <img src="{% static 'assets/imgs/theme/icons/feature-6.png' %}" alt="">
                        <h4 class="bg-6">24/7 Support</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>



{% endblock content %}

