
{% extends "partials/base.html" %}
{% load static %}

{% block content%}

<head>
    <style>
        input[type="range"]{
            -webkit-appearance: none;
            margin-right: 15px;
            height: 7px;
            background: rgba(255, 255, 255, 0.6);
            border-radius: 5px;
            background-image: linear-gradient(#3bb77e, #3bb77e);
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }

        input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            height:20px;
            width: 20px;
            border-radius: 50%;
            background: #3bb77e;
            cursor: ew-resize;
            box-shadow: 0 0 2px 0 #555;
            transition: background .3s ease-in-out;
        }

        input[type=range]::-webkit-slider-runnable-track {
            -webkit-appearance: none;
            box-shadow: none;
            border: none;
            background: transparent;
        }
        .product-img {
            display: block;
            width: 280px; /* Set the desired width */
            height: 250px; /* Set the desired height */
            object-fit: cover; /* Crop the image to fit the specified dimensions */
        }
        
    </style>
</head>

    
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="{% url "product:index" %}" rel="nofollow">Home</a>
                    <span></span> Products
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row flex-row-reverse">
                    
                    <div class="col-lg-9">
                        <div class="shop-product-fillter">
                            
                            <div class="totall-product">

                            </div>
                           
                        </div>
                        <div class="row product-grid-3" id = "filtered-product">

                            {% for p in products %}
                            {% if p.product.soft_delete == False %}
                                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                    <div class="product-cart-wrap mb-30">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <a href="{% url "product:product-detail" p.id p.product.product_catg.id %}">
                                                    <img size="100px" class="product-img" src="{{ p.variantimage_set.first.images.url }}" alt="">
                                                    <img class="hover-img product-img" src="{{ p.variantimage_set.first.images.url }}" alt="">
                                                </a>
                                            </div>
                                            <div class="product-action-1">
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up" href="{% url 'product:add_wishlist' p.id p.product.product_catg.id%}"><i class="fi-rs-heart"></i></a>
                                            </div>
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                {% if  p.sale_price != p.max_price%}
                                                <span class="hot">-{{p.get_percentage|floatformat:0}}%</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="product-category">
                                                <a href="#">{{p.color}}</a>
                                            </div>
                                            <h2><a href="{% url "product:product-detail" p.id p.product.product_catg.id %}">{{p.product}}</a></h2>
                                            
                                            <div class="product-category">  
                                                <a href="#">{{p.product.product_catg}}</a>
                                            </div>
                                            <div class="product-price">
                                                <span> Rs.<span class="current-product-price-{{p.id}}" id="current-product-price">{{p.sale_price}}</span></span>
                                                {% if  p.sale_price != p.max_price%}
                                                    <span class="old-price">Rs.{{p.max_price}}</span>
                                                {% endif %}
                                            </div>
                                            <div class="add-cart">
                                                <div class="product-action-1 show"> 
                                                    <input type="hidden" value="1" id="product-quantity" class="product-quantity-{{p.id}}">
                                                    <input type="hidden" value="{{p.model_id}}" class="product-pid-{{p.id}}">
                                                    <input type="hidden" value="{{ p.variantimage_set.first.images.url }}" class="product-image-{{p.id}}">
                                                    <input type="hidden" value="{{p.id}}" class="product-id-{{p.id}}">
                                                    <input type="hidden" value="{{p.product}}" class="product-title-{{p.id}}">
                                                    <span class="action-btn">
                                                        <a href="{% url 'cart:add_cart' id=p.id %}"> <button aria-label="Add To Cart" data-index="{{ p.id }}" id="add-to-cart-btn" class="add add-to-cart-btn hover-up">
                                                            
                                                                <i class="fi-rs-shopping-bag-add"></i>
                                                            </button>
                                                        </a>
                                                    </span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}

                            
                        </div>
                        <!--pagination-->
                        {% if has_products %}
                        <div id="pagination">
                            {% include 'product/async/pagination.html' %}
                        </div>
                        {% else %}
                        <p>No  found.</p>
                      {% endif %}
                    </div>
                    <div class="col-lg-3 primary-sidebar sticky-sidebar">
                
                        <!-- Fillter By Price -->
                        <div class="sidebar-widget price_range range mb-30">
                            <div class="widget-header position-relative mb-20 pb-10">
                                <h5 class="widget-title mb-10">Filter</h5>
                                <div class="bt-1 border-color-1"></div>
                            </div>
                            <div class="list-group">
                                <div class="list-group-item mb-10 mt-10">
                                    <label class="fw-900">Color</label>
                                    <div class="custome-checkbox">
                                        {% for c in colors %}
                                        <input class="form-check-input filter-checkbox" type="checkbox" data-filter="color" name="checkbox" id="{{ c.Attribute_value }}" value="{{c.id}}">
                                        <label class="form-check-label" for="{{ c.Attribute_value }}"><span>{{ c.Attribute_value }}</span></label>
                                        <br>
                                        {% endfor %}
                                    </div>
                                    <label class="fw-900 mt-15">Category</label>
                                    <div class="custome-checkbox">
                                        {% for i in category %}
                                        <div>

                                            <input class="form-check-input filter-checkbox" type="checkbox" data-filter="category" name="checkbox" id="{{i.category_name}}" value="{{i.id}}">
                                                <label class="form-check-label" for="{{i.category_name}}"><span>{{i.category_name}}</span></label>
                                        </div>
                                        {% endfor %}
                                        <br>
                                    </div>
                                    <label class="fw-900 mt-15">Brand</label>
                                    <div class="custome-checkbox">
                                        {% for i in brands %}
                                        <div>

                                            <input class="form-check-input filter-checkbox" type="checkbox" data-filter="brand" name="checkbox" id="{{i.brand_name}}" value="{{i.id}}">
                                                <label class="form-check-label" for="{{i.brand_name}}"><span>{{i.brand_name}}</span></label>
                                        </div>
                                        {% endfor %}
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="sidebar-widget price_range range mb-30">
                            <div class="widget-header position-relative mb-20 pb-10">
                                <h5 class="widget-title mb-10">Sort</h5>
                                <div class="bt-1 border-color-1"></div>
                            </div>
                          
                            <div class="list-group">
                                <div class="list-group-item mb-10 mt-10">
                                    <label class="fw-900">Sort By</label>
                                    <div class="custome">
                                        <input class="form-check-input filter-radio" type="radio" name="sort_by" value='price_asc'>
                                        <label class="form-check-label"><span>Price: Low to High</span></label>
                                        <br>
                                    </div>
                                    <div class="custome">
                                        <input class="form-check-input filter-radio" type="radio" name="sort_by" value='price_desc'>
                                        <label class="form-check-label"><span>Price: High to Low</span></label>
                                        <br>
                                    </div>
                                    <div class="custome">
                                        <input class="form-check-input filter-radio" type="radio" name="sort_by" value='name_asc'>
                                        <label class="form-check-label"><span>Name: A to Z</span></label>
                                        <br>
                                    </div>
                                    <div class="custome">
                                        <input class="form-check-input filter-radio" type="radio" name="sort_by" value='name_desc'>
                                        <label class="form-check-label"><span>Name: Z to A</span></label>
                                        <br>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- Product sidebar Widget -->
                        <div class="sidebar-widget product-sidebar  mb-30 p-30 bg-grey border-radius-10">
                            <div class="widget-header position-relative mb-20 pb-10">
                                <h5 class="widget-title mb-10">New products</h5>
                                <div class="bt-1 border-color-1"></div>
                            </div>

                            {% for n in new %}
                            <div class="single-post clearfix">
                                <div class="image">
                                    <img src="{{ n.variantimage_set.first.images.url }}" alt="#">
                                </div>
                                <div class="content pt-10">
                                    <h5><a href="{% url "product:product-detail" n.id n.product.product_catg.id %}">{{n.product}}</a></h5>
                                    <p class="price mb-0 mt-5">Rs. {{n.sale_price}}</p>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                     
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% csrf_token %}
    <script>
        function addCart(e) {
            e.preventDefault();

            function showSuccessMessage(message) {
                $('#success-message').text(message);
                $('#success-message').removeClass('hidden').addClass('visible');
            }
            function showErrorMessage(message) {
                $('#error-message').text(message);
                $('#error-message').removeClass('hidden').addClass('visible');

            }

            var prodQty = 1; 
            var csrfToken = $('input[name=csrfmiddlewaretoken]').val();
            var productId = $('.prod_id').val();  
            $.ajax({
                url: "{% url 'cart:add_cart'%}",  
                method: "POST",
                data: {
                    'prod_qty': prodQty,
                    'csrfmiddlewaretoken': csrfToken,
                    'prod_id': productId,
                },
                success: function (response) {
                    console.log(response);
                    window.location.href = "{% url 'cart:view_cart' %}";
                
                },
                error: function (error) {
                    console.error(error);
                    Swal.fire({
                        icon: 'warning',
                        title: 'Stock shortage',
                        text: 'Cant add that much due to stock insufficiant.',
                    });
                }
            });
        }
        function Func(){
            console.log('hoi bro')
        }
    </script>
   
{% endblock content %}