{% for p in products %}
<div class="col-lg-4 col-md-4 col-12 col-sm-6">
    <div class="product-cart-wrap mb-30">
        <div class="product-img-action-wrap">
            <div class="product-img product-img-zoom">
                <a href="{% url "product:product-detail" p.id p.product.product_catg.id %}">
                    <img size="100px" class="default-img" src="{{ p.variantimage_set.first.images.url }}" alt="">
                    <img class="hover-img" src="{{ p.variantimage_set.first.images.url }}" alt="">
                </a>
            </div>
            <div class="product-action-1">
                <a aria-label="Add To Wishlist" class="action-btn hover-up" href="{% url 'product:add_wishlist' p.id p.product.product_catg.id%}"><i class="fi-rs-heart"></i></a>
            </div>
            <div class="product-badges product-badges-position product-badges-mrg">
                {% if  p.sale_price != p.max_price%}
                <span class="hot">-{{p.get_percentage|floatformat:0}}%</span>
                {% endif %}
            </div>
        </div>
        <div class="product-content-wrap">
            <div class="product-category">
                <a href="shop-grid-right.html">{{p.color}}</a>
            </div>
            <h2><a href="shop-product-right.html">{{p.product}}</a></h2>
            <br>
            <div class="product-price">
                <span> Rs.{{ p.sale_price }}</span>
                {% if  p.sale_price != p.max_price%}
                <span class="old-price">Rs.{{p.max_price}}</span>
                {% endif %}
            </div>
            <div class="product-action-1 show">
                <a aria-label="Add To Cart" class="action-btn hover-up" href="{% url "cart:add_cart" id=p.id %}"><i class="fi-rs-shopping-bag-add"></i></a>
            </div>
        </div>
    </div>
</div>
{% endfor %}