<form>
    {% csrf_token %}
    <input type="hidden" value='{{p.id}}' class="prod_id">
    <div id="cbt" class="detail-qty border radius m-auto">
        <a type="hidden" class="qty-down" onclick="decreaseQuantity()"><i class="fi-rs-angle-small-down"></i></a>
        <span type="hidden" id="quantitySpan" name="c_count" class="qty-val">1</span>
        <input type="hidden" id="quantityInput" class='item_quantity' name="quantity" value="1">
        <a type="hidden" class="qty-up" onclick="increaseQuantity()"><i class="fi-rs-angle-small-up"></i></a>
    </div>
   
    <div id='cwb' class="product-extra-link2">
        {% if user.is_authenticated %}
            {% if p.stock < 1 %}

            {% else %}
            <button id="my_new_btn" type="submit" class="action-btn add add-to-cart-btn hover-up" onclick="addCart(event)" ><i class="fi-rs-shopping-bag-add"></i></button>
            {% endif %}
        {% else %}
      
        {% endif %}
    
    </div>

</form>


<button id='my_new_btn' type="submit" class="action-btn hover-up" onclick="addCart(event)"><img width="30" height="30" src="https://img.icons8.com/clouds/100/add-shopping-cart.png" alt="add-shopping-cart"/></button>
